{% extends 'boot/frame.twig.html' %}


{% block frame_global_style %}
<style type="text/css">
    #container .conteiner_wrap {padding:10px;}

    .pic-list li {  margin-bottom: 5px;  }
    .color-box { float:left;width:30px; height:30px;margin:5px;border: 1px solid #c2ccd1;}
    .item_attr{float: left;margin-right: 5px;margin-top: 10px;width: 36px;height: 18px;line-height: 18px;}
    .item_attr_input{width: 36px;float: left;margin: 5px 5px 5px 0px;height: 30px;padding: 4px 5px !important;}
    .item_prefix_input{width: 96px;float: left;margin: 5px 5px 5px 0px;height: 30px;padding: 4px 5px !important;}
    #smeta_prefix_select{width: 96px !important;margin-top:5px;}
    .table-bordered th{font-weight: 200;}

    .form-required {margin-left: 5px;}
    .row-fluid table tr td input[type=radio]{float: left;margin: 5px;}
    .row-fluid table tr td input[type=checkbox]{float: left;margin: 5px;}
    .row-fluid table tr td label{float: left;margin: 5px;line-height: 12px;}
</style>
{% endblock %}

{% block frame_head_script %}
<script type="application/javascript">
    GV = GV ? GV : {};
    GV.UPLOAD_HANDLE = '{{ asset_upload_url }}';
    var _extram_data = {
        admin_uid : "{{ admin_uid }}"
    }
    var app_extra_params='sys';
</script>
{% endblock %}

{% block frame_content %}
<div class="conteiner_wrap js-check-wrap">

    <form action="" method="post" class="form-horizontal js-ajax-form" enctype="multipart/form-data">
        <div class="row-fluid">
            <div class="span12">
                {% autoescape false %}
                {{ inner_html }}
                {% endautoescape %}
            </div>
        </div>
        <div class="form-actions">
            <input type="hidden" name="post[uid]" value="{{ admin_account.id }}">
            <button class="btn btn-primary js-ajax-submit" type="submit">提交</button>
            <a class="btn" href="{{ cate_index_url|default('#') }}">返回</a>
        </div>
    </form>


</div>

{% endblock %}
{% block frame_footer %}
<script type="application/javascript">
    {% autoescape false %}
    {{ inner_js }}
    {% endautoescape %}
</script>

{% endblock %}