{% extends 'boot/frame.twig.html' %}


{% block frame_global_style %}
<style type="text/css">
    #container .conteiner_wrap {padding:10px;}

    .pic-list li {  margin-bottom: 5px;  }
    .color-box { float:left;width:30px; height:30px;margin:5px;border: 1px solid #c2ccd1;}
    .item_attr{float: left;margin-right: 5px;margin-top: 10px;width: 36px;height: 18px;line-height: 18px;}
    .item_attr_input{width: 36px;float: left;margin: 5px 5px 5px 0px;height: 30px;padding: 4px 5px !important;}
    .item_prefix_input{width: 96px;float: left;margin: 5px 5px 5px 0px;height: 30px;padding: 4px 5px !important;}
    #smeta_prefix_select{width: 96px !important;margin-top:5px;}
    .table-bordered th{font-weight: 200;}

    .form-required {margin-left: 5px;}
</style>
{% endblock %}

{% block frame_head_script %}
<script type="application/javascript">
    GV = GV ? GV : {};
    GV.UPLOAD_HANDLE = '{{ asset_upload_url }}';
    var _extram_data = {
        admin_uid : "{{ admin_uid }}"
    }
    var app_extra_params='sys';
</script>
{% endblock %}

{% block frame_content %}
<div class="conteiner_wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a href="{{ cate_index_url|default('#') }}">{{ cate_name }}</a></li>
        <li class="active"><a>
            {%if op=='add' %} 新增 {% else %} 编辑 {% endif %}
        </a></li>
    </ul>

    {% if error %}
    {% include 'error_box.twig.html' %}
    {% else %}

    <form action="" method="post" class="form-horizontal js-ajax-form" enctype="multipart/form-data">
        <div class="row-fluid">
            <div class="span9">
                <table class="table table-bordered">

                    <tr>
                        <th width="80">账号</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[account]" required value="{{ admin_account.account }}" placeholder="请输入账号"/>
                            <span class="form-required">*</span>
                            <span class="form-required">5～16位数</span>
                        </td>
                    </tr>

                    <tr>
                        <th width="80">账号类型</th>
                        <td>
                            <input type="radio"  name="post[group_type]"  value="1" {% if admin_account.group_type == 1 %} checked="checked"{% endif %} /> 子账户
                            &nbsp;&nbsp;
                            <input type="radio"  name="post[group_type]"  value="0" {% if admin_account.group_type == 0 %} checked="checked"{% endif %}/> 主账户
                        </td>
                    </tr>
                    <tr>
                        <th width="80">所属域</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[group_id]" required value="{{ admin_account.group_id }}" placeholder="请输入所属域"/>
                            <span class="form-required">*</span>
                            <span class="form-required">所属域也称为企业id [3-16位]</span>
                        </td>
                    </tr>

                    <tr>
                        <th width="80">昵称</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[nickname]" required value="{{ admin_account.nickname }}" placeholder="请输入昵称"/>
                            <span class="form-required">*</span>
                            <span class="form-required">2-16个字</span>
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <blockquote>如果需要修改密码请填写下方字段，不修改则留空</blockquote>
                    {%if op !='add' and oper == 'self' %}
                    <tr>
                        <th width="80">原始密码</th>
                        <td>
                            <input type="password" style="width: 400px;" name="post[password]"  value="" placeholder="请输入新密码"/>
                            <span class="form-required"></span>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th width="80">新密码</th>
                        <td>
                            <input type="password" style="width: 400px;" name="post[newpassword]"  value="" placeholder="请输入新密码"/>
                            <span class="form-required"></span>
                        </td>
                    </tr>
                    <tr>
                        <th width="80">确认密码</th>
                        <td>
                            <input type="password" style="width: 400px;" name="post[comfirm_password]"  value="" placeholder="请输入确认密码"/>
                            <span class="form-required"></span>
                        </td>
                    </tr>

                </table>

                <table class="table table-bordered">
                    <blockquote>联系信息</blockquote>
                    <tr>
                        <th width="80">联系人</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[contact_user]" required value="{{ admin_account.contact_user }}" placeholder="请输入昵称"/>
                            <span class="form-required">*</span>
                            <span class="form-required">2-16个字</span>
                        </td>
                    </tr>
                    <tr>
                        <th width="80">手机</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[contact_phone]" required value="{{ admin_account.contact_phone }}" placeholder="请输入昵称"/>
                            <span class="form-required">*</span>
                            <span class="form-required">手机号码</span>
                        </td>
                    </tr>
                    <tr>
                        <th width="80">别名</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[alias]" required value="{{ admin_account.alias }}" placeholder="请输入昵称"/>
                            <span class="form-required">*</span>
                            <span class="form-required">3-16个字【用户作为唯一的账号访问名称】</span>
                        </td>
                    </tr>
                    <tr>
                        <th width="80">简介</th>
                        <td>
                            <textarea name="post[desc]" rows="5" cols="57" style="width: 403px; height: 92px;">{{ admin_account.desc }}</textarea>
                            <span class="form-required">简介</span>
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <blockquote>状态</blockquote>
                    <tr>
                        <th width="80">状态</th>
                        <td>
                            <input type="radio"  name="post[status]"  value="1" {% if admin_account.status == 1 %} checked="checked"{% endif %} /> 正常
                            &nbsp;&nbsp;
                            <input type="radio"  name="post[status]"  value="0" {% if admin_account.status == 0 %} checked="checked"{% endif %}/> 禁用
                        </td>
                    </tr>
                    <tr>
                        <th width="80">过期时间：</th>
                        <td>
                            <input type="text" name="post[expire_time]" class="js-date" value="{{ admin_account.expire_time|default('') }}" style="width: 120px;" autocomplete="off">
                            <span class="form-required">空或0为永不过期</span>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="span3">
                <table class="table table-bordered">
                    <tr>
                        <td><b>头像</b></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: center;">
                                <input type="hidden" name="post[avatar]" id="thumb" value="{{admin_account.avatar}}">
                                <a href="javascript:upload_one_image('图片上传','#thumb',_extram_data,app_extra_params);">
                                    {% if not admin_account.avatar %}
                                    <img src="/wxapp/asset/simpleboot/images/default-thumbnail.png" id="thumb-preview" width="135" style="cursor: hand"/>
                                    {% else %}
                                    <img src="{{admin_account.avatar|prefixWith('/wxapp/data/','default')}}" id="thumb-preview" width="135" style="cursor: hand" onerror="this.onerror='';src='/wxapp/asset/simpleboot/images/default-thumbnail.png'"/>
                                    {% endif %}

                                </a>
                                <input type="button" class="btn btn-small" onclick="$('#thumb-preview').attr('src','/wxapp/asset/simpleboot/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片" style="margin-top: 5px;">
                            </div>
                        </td>
                    </tr>
                    {%if op !='add' %}
                    <tr>
                        <td>创建时间 ： {{ admin_account.ctime|date("Y-m-d H:i:s")}}</td>
                    </tr>

                    <tr>
                        <td>修改时间 ： {{ admin_account.mtime|date("Y-m-d H:i:s")}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="form-actions">
            <input type="hidden" name="post[uid]" value="{{ admin_account.id }}">
            <button class="btn btn-primary js-ajax-submit" type="submit">提交</button>
            <a class="btn" href="{{ cate_index_url|default('#') }}">返回</a>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}
{% block frame_footer %}
<script type="application/javascript">
    $(function(){

    });
</script>

{% endblock %}