{% extends 'boot/frame.twig.html' %}


{% block frame_global_style %}
<style type="text/css">
    #container .conteiner_wrap {padding:10px;}

    .pic-list li {  margin-bottom: 5px;  }
    .color-box { float:left;width:30px; height:30px;margin:5px;border: 1px solid #c2ccd1;}
    .item_attr{float: left;margin-right: 5px;margin-top: 10px;width: 36px;height: 18px;line-height: 18px;}
    .item_attr_input{width: 36px;float: left;margin: 5px 5px 5px 0px;height: 30px;padding: 4px 5px !important;}
    .item_prefix_input{width: 96px;float: left;margin: 5px 5px 5px 0px;height: 30px;padding: 4px 5px !important;}
    #smeta_prefix_select{width: 96px !important;margin-top:5px;}
    .table-bordered th{font-weight: 200;}

    .form-required {margin-left: 5px;}
</style>
{% endblock %}

{% block frame_head_script %}
<script type="application/javascript">
    GV = GV ? GV : {};
    GV.UPLOAD_HANDLE = '{{ asset_upload_url }}';
    var _extram_data = {
        admin_uid : "{{ admin_uid }}"
    }
    var app_extra_params='user';
</script>
{% endblock %}

{% block frame_content %}
<div class="conteiner_wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a href="{{ cate_index_url|default('#') }}">{{ cate_name }}</a></li>
        <li class="active"><a>
            {%if op=='add' %} 新增 {% else %} 编辑 {% endif %}
        </a></li>
    </ul>

    {% if error %}
    {% include 'error_box.twig.html' %}
    {% else %}

    <form action="" method="post" class="form-horizontal js-ajax-form" enctype="multipart/form-data">
        <div class="row-fluid">
            <div class="span9">
                <table class="table table-bordered">

                    <tr>
                        <th width="80">用户名</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[username]" required value="{{ obj_rel.username }}" placeholder="请输入账号"/>
                            <span class="form-required">*</span>
                            <span class="form-required">3～16位数</span>
                        </td>
                    </tr>

                    <tr>
                        <th width="80">昵称</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[nickname]" required value="{{ obj_rel.nickname }}" placeholder="请输入昵称"/>
                            <span class="form-required">*</span>
                            <span class="form-required">2-16个字</span>
                        </td>
                    </tr>
                    <tr>
                        <th width="80">性别</th>
                        <td>
                            <input type="radio"  name="post[sex]"  value="2" {% if obj_rel.sex == 2 %} checked="checked"{% endif %} /> 男
                            &nbsp;&nbsp;
                            <input type="radio"  name="post[sex]"  value="1" {% if obj_rel.sex == 1 %} checked="checked"{% endif %}/> 女
                            &nbsp;&nbsp;
                            <input type="radio"  name="post[sex]"  value="0" {% if obj_rel.sex == 0 %} checked="checked"{% endif %}/> 保密
                        </td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <blockquote>运营属性</blockquote>
                    {%if op !='add' %}
                    <tr>
                        <th width="80">sys_uid</th>
                        <td>
                            <input style="width: 400px;" readonly  value="{{ obj_rel.sys_uid }}" placeholder="sys_uid"/>
                            <span class="form-required"></span>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th width="80">大Bid</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[company_id]" required value="{{ obj_rel.company_id }}" placeholder="请输入企业id"/>
                            <span class="form-required">*</span>
                            <span class="form-required">企业id [3-16位]</span>
                        </td>
                    </tr>

                    <tr>
                        <th width="80">业务id</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[work_id]" required value="{{ obj_rel.work_id }}" placeholder="请输入业务id"/>
                            <span class="form-required">*</span>
                            <span class="form-required">业务id [3-16位]</span>
                        </td>
                    </tr>

                </table>
                <table class="table table-bordered">
                    <blockquote>如果需要修改密码请填写下方字段，不修改则留空</blockquote>
                    {%if op !='add' %}
                    <tr>
                        <th width="80">原始密码</th>
                        <td>
                            <input type="password" style="width: 400px;" name="post[password]"  value="" placeholder="请输入新密码"/>
                            <span class="form-required"></span>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th width="80">新密码</th>
                        <td>
                            <input type="password" style="width: 400px;" name="post[newpassword]"  value="" placeholder="请输入新密码"/>
                            <span class="form-required"></span>
                        </td>
                    </tr>
                    <tr>
                        <th width="80">确认密码</th>
                        <td>
                            <input type="password" style="width: 400px;" name="post[comfirm_password]"  value="" placeholder="请输入确认密码"/>
                            <span class="form-required"></span>
                        </td>
                    </tr>

                </table>

                <table class="table table-bordered">
                    <blockquote>社交平台属性</blockquote>
                    <tr>
                        <th width="80">平台</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[comeform]" required value="{{ obj_rel.comeform }}" placeholder="请输入平台"/>
                            <span class="form-required">2-16个字</span>
                        </td>
                    </tr>
                    <tr>
                        <th width="80">openid</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[openid]"  value="{{ obj_rel.openid }}" placeholder="请输入openid"/>
                            <span class="form-required">openid</span>
                        </td>
                    </tr>
                    <tr>
                        <th width="80">unionid</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[unionid]"  value="{{ obj_rel.unionid }}" placeholder="请输入unionid"/>
                            <span class="form-required">unionid</span>
                        </td>
                    </tr>
                    <tr>
                        <th width="80">详细属性</th>
                        <td>
                            <textarea name="post[detail]" rows="5" cols="57" style="width: 403px; height: 92px;">{{ obj_rel.detail }}</textarea>
                            <span class="form-required">详细</span>
                        </td>
                    </tr>
                </table>


            </div>
            <div class="span3">
                <table class="table table-bordered">
                    <tr>
                        <td><b>头像</b></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: center;">
                                <input type="hidden" name="post[avatar]" id="thumb" value="{{obj_rel.avatar}}">
                                <a href="javascript:upload_one_image('图片上传','#thumb',_extram_data,app_extra_params);">
                                    {% if not obj_rel.avatar %}
                                    <img src="/wxapp/asset/simpleboot/images/default-thumbnail.png" id="thumb-preview" width="135" style="cursor: hand"/>
                                    {% else %}
                                    <img src="{{obj_rel.avatar|prefixWith('/wxapp/data/','default')}}" id="thumb-preview" width="135" style="cursor: hand" onerror="this.onerror='';src='/wxapp/asset/simpleboot/images/default-thumbnail.png'"/>
                                    {% endif %}

                                </a>
                                <input type="button" class="btn btn-small" onclick="$('#thumb-preview').attr('src','/wxapp/asset/simpleboot/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片" style="margin-top: 5px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><b>状态</b></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio"  name="post[status]"  value="1" {% if obj_rel.status == 1 %} checked="checked"{% endif %} /> 正常
                            &nbsp;&nbsp;
                            <input type="radio"  name="post[status]"  value="0" {% if obj_rel.status == 0 %} checked="checked"{% endif %}/> 禁用
                        </td>
                    </tr>
                    {%if op !='add' %}
                    <tr>
                        <td>创建时间 ： {{ obj_rel.ctime|date("Y-m-d H:i:s")}}</td>
                    </tr>

                    <tr>
                        <td>修改时间 ： {{ obj_rel.mtime|date("Y-m-d H:i:s")}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="form-actions">
            <input type="hidden" name="post[sys_uid]" value="{{ obj_rel.sys_uid }}">
            <button class="btn btn-primary js-ajax-submit" type="submit">提交</button>
            <a class="btn" href="{{ cate_index_url|default('#') }}">返回</a>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}
{% block frame_footer %}
<script type="application/javascript">
    $(function(){

    });
</script>

{% endblock %}