{% extends 'boot/frame.twig.html' %}


{% block frame_global_style %}
<style type="text/css">
    #container .conteiner_wrap {padding:10px;}

    .pic-list li {  margin-bottom: 5px;  }
    .color-box { float:left;width:30px; height:30px;margin:5px;border: 1px solid #c2ccd1;}
    .item_attr{float: left;margin-right: 5px;margin-top: 10px;width: 36px;height: 18px;line-height: 18px;}
    .item_attr_input{width: 36px;float: left;margin: 5px 5px 5px 0px;height: 30px;padding: 4px 5px !important;}
    .item_prefix_input{width: 96px;float: left;margin: 5px 5px 5px 0px;height: 30px;padding: 4px 5px !important;}
    #smeta_prefix_select{width: 96px !important;margin-top:5px;}
    .table-bordered th{font-weight: 200;}

    .form-required {margin-left: 5px;}
</style>
{% endblock %}

{% block frame_head_script %}
<script type="application/javascript">
    GV = GV ? GV : {};
    GV.UPLOAD_HANDLE = '{{ asset_upload_url }}';
    GV.TEMPLATE_SELECT_HANDLE = '{{ template_index_url }}';
    GV.CONFIG_HANDLE = '{{ config_url }}';
    var _extram_data = {
        admin_uid : "{{ admin_uid }}"
    }
    var app_extra_params='manager';
    var dependencies = 'type_id';
</script>
{% endblock %}

{% block frame_content %}
<div class="conteiner_wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a href="{{ cate_index_url|default('#') }}">{{ cate_name }}</a></li>
        <li class="active"><a>
            {%if op=='add' %} 新增 {% else %} 编辑 {% endif %}
        </a></li>
    </ul>

    {% if error %}
    {% include 'error_box.twig.html' %}
    {% else %}

    <form action="" method="post" class="form-horizontal js-ajax-form" enctype="multipart/form-data">
        <div class="row-fluid">
            <div class="span9">
                <table class="table table-bordered">

                    <tr>
                        <th width="80">名称</th>
                        <td>
                            <input type="text" style="width: 400px;" name="post[name]" required value="{{ info.name }}" placeholder="请输入名称"/>
                            <span class="form-required">*</span>
                        </td>
                    </tr>

                    <tr>
                        <th width="80">类型</th>
                        <td>
                            <select name="post[type_id]" id="type_id">
                                {% if cates%}
                                {% for key,val in cates%}
                                <option value="{{key}}" {%if info.type_id == key %} selected="selected"{%endif%}>{{val}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th width="80">模版</th>
                        <td>
                            <span id="template_name">未选择</span>
                            <input id="template_sid" name="post[template_sid]" value="" type="hidden">
                            <a href="javascript:openTemplateDialog('选择模版','template',_extram_data,app_extra_params,dependencies);">选择模版</a>
                        </td>
                    </tr>

                    <tr>
                        <th width="80">配置</th>
                        <td>
                            <span id="config_name">未设置</span>
                            <textarea id="config_value" name="post[config_value]" style="display: none"></textarea>
                            <a href="javascript:openConfigDialog('填写配置','config',_extram_data,app_extra_params,dependencies);">填写配置</a>
                        </td>
                    </tr>

                </table>


                {%if is_self != 1 %}
                <table class="table table-bordered">
                    <blockquote>状态</blockquote>
                    <tr>
                        <th width="80">状态</th>
                        <td>
                            <input type="radio"  name="post[status]"  value="1" {% if info.status == 1 %} checked="checked"{% endif %} /> 正常
                            &nbsp;&nbsp;
                            <input type="radio"  name="post[status]"  value="0" {% if info.status == 0 %} checked="checked"{% endif %}/> 禁用
                        </td>
                    </tr>

                </table>
                {% endif %}

            </div>
            <div class="span3">
                <table class="table table-bordered">
                    <tr>
                        <td><b>图标</b></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: center;">
                                <input type="hidden" name="post[thumb]" id="thumb" value="{{info.thumb}}">
                                <a href="javascript:upload_one_image('图片上传','#thumb',_extram_data,app_extra_params);">
                                    {% if not info.thumb %}
                                    <img src="/wxapp/asset/simpleboot/images/default-thumbnail.png" id="thumb-preview" width="135" style="cursor: hand"/>
                                    {% else %}
                                    <img src="{{info.thumb|prefixWith('/wxapp/data/','default')}}" id="thumb-preview" width="135" style="cursor: hand" onerror="this.onerror='';src='/wxapp/asset/simpleboot/images/default-thumbnail.png'"/>
                                    {% endif %}

                                </a>
                                <input type="button" class="btn btn-small" onclick="$('#thumb-preview').attr('src','/wxapp/asset/simpleboot/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片" style="margin-top: 5px;">
                            </div>
                        </td>
                    </tr>
                    {%if op !='add' %}
                    <tr>
                        <td>创建时间 ： {{ info.ctime|date("Y-m-d H:i:s")}}</td>
                    </tr>

                    <tr>
                        <td>修改时间 ： {{ info.mtime|date("Y-m-d H:i:s")}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="form-actions">
            <input type="hidden" name="post[work_id]" value="{{ info.work_id }}">
            <button class="btn btn-primary js-ajax-submit" type="submit">提交</button>
            <a class="btn" href="{{ cate_index_url|default('#') }}">返回</a>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}
{% block frame_footer %}
<script type="application/javascript">

    $(function(){
        $('#type_id').change(function(){
            var valstr = $(this).val();
            $('#template_name').text('未选择');
            $('#template_sid').val('');
        });
    });

    function openTemplateDialog( dialog_title, input_selector, extra_params, app,dependencies )
    {
        app = app?app:GV.APP;
        var params = '&app='+app ;

        if (dependencies) {
            var dval = $('#'+dependencies).val();
            if (dval) {
                params += '&'+dependencies+'='+dval ;
            }
        }
        Wind.use("artDialog","iframeTools",function(){
            var template_handle = escape2Html(GV.TEMPLATE_SELECT_HANDLE)+params;

            art.dialog.open( template_handle, {
                title: dialog_title,
                id: new Date().getTime(),
                width: '650px',
                height: '420px',
                lock: true,
                fixed: true,
                background:"#CCCCCC",
                opacity:0,
                ok: function() {
                    var iframewindow = this.iframe.contentWindow;
                    var datas=iframewindow.get_selected_templates();
                    if(datas){
                        $('#template_sid').val(datas.sid);
                        $('#template_name').text(datas.name);
                    }else{
                        return false;
                    }
                },
                cancel: true
            });
        });
    }

    function openConfigDialog( dialog_title, input_selector, extra_params, app,dependencies )
    {
        app = app?app:GV.APP;
        var params = '&app='+app ;

        if (dependencies) {
            var dval = $('#'+dependencies).val();
            if (dval) {
                params += '&'+dependencies+'='+dval ;
            }
        }
        Wind.use("artDialog","iframeTools",function(){
            var config_handle = escape2Html(GV.CONFIG_HANDLE)+params;

            art.dialog.open( config_handle, {
                title: dialog_title,
                id: new Date().getTime(),
                width: '650px',
                height: '420px',
                lock: true,
                fixed: true,
                background:"#CCCCCC",
                opacity:0,
                ok: function() {
                    var iframewindow = this.iframe.contentWindow;
                    var datas=iframewindow.get_selected_config();
                    if(datas){
                        if(datas.length) {
                            $('#config_name').text('已配置了'+datas.length+'项');
                        }
                        $('#config_value').text(JSON.stringify(datas));
                        console.log(JSON.stringify(datas));
                    }else{
                        return false;
                    }
                },
                cancel: true
            });
        });
    }

</script>

{% endblock %}